{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
  <h1>{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}</h1>
  <p>{% blocktrans trimmed %}You are about to disable two-factor authentication. This
    weakens your account security, are you sure?{% endblocktrans %}</p>
  <form id="disableTwoFactorForm" method="post" action="{% url 'disable_two_factor' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Disable Two-factor Authentication" %}</button>
  </form>
{% endblock %}
